{% extends 'Squelette.twig' %}

{% block title %}Box{% endblock %}

{% block titre %}Contenu Box{% endblock %}

{% block content %}
<div>
    <p><strong>Libellé :</strong> {{ libelle }}</p>
    <p><strong>Description :</strong> {{ description }}</p>
    <p><strong>Montant :</strong> {{ montant }}</p>
    <p><strong>Kdo :</strong> {{ kdo }}</p>

    {% if kdo == '1' %}
        <p><strong>Message :</strong> {{ message }}</p>
    {% endif %}

</div>
{% endblock %}