{% extends 'Squelette.twig' %}

{% block title %}Categorie{% endblock %}

{% block titre %}{{ categorie.libelle }}{% endblock %}

{% block content %}
    {% for p in prestations %}
        <a href="{{ url_for('prestation') }}?id={{ p.id }}"><h2>{{ p.libelle }}</h2></a>
            <p> {{ p.description }}</p>
    {% endfor %}
{% endblock %}